<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <h1 style="color:darkblue;font-weight:500">Price Quotation</h1>

        <link rel="stylesheet" href="~/css/custom.css" />
</head>
<body>
    
        @RenderBody()
   
</body>
</html>